html {
    margin:0;
    padding:0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-repeat: space;
  }

#game {
    background-color: #222;
    width: 450px;
    height: 650px;
}

#sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    width: 300px;
    height: 650px;
}

